
h1 {
	color: #6f6f6f;
}

#editor {
	display: block;
	height: 100%;
	font-size: 14px;
}

.syntax-error {
	position:absolute;
	background:hsla(0,100%,86%,0.4);
	z-index:20
}

#tree-container.error {
	/*box-shadow: inset 0px 0px 6px 0px black;*/
	/*background-color: hsl(0,100%,98%);*/
}

#tree-container {
	padding: 5px;
	transition-property: box-shadow, background-color;
	transition-duration:50ms;
}

.error #tree {
	/*transform:perspective(800px) translateZ(-5px);*/
	opacity:.5;

}

#tree {
	transition:transform 50ms;
	transform:perspective(800px);
}

.hidden {
	visibility: hidden;
}

.content {
	margin-left:40% !important;
	padding-top:1em !important;
}

header {
	margin-bottom:8px;
}

footer {
	text-align:center;
}